
<p>Welcome <%=  @user.email %></p>

<div class="container-fluid">
  <div class="row-fluid banner">This Week</div>
  <% @appointments.each_with_index do |appointment, index| %>
      <div class="row-fluid feed">
        
        <div class="row-fluid pull-left">

          <div class="span-8">
            <div class="span2">       
              <p class="datecaption"><%= appointment.time.to_time.strftime("%b").upcase %></p>
              <strong><p class="date"><%= appointment.time.to_time.strftime("%d") %></p></strong>
              <p class="datecaption"><%= appointment.time.to_time.strftime("%A") %></p>           
              <p class="datecaption"><span class="label label-info"><%= appointment.time.to_time.strftime("%I:%M %p") %></span></p>
            </div>
            <div class="span6">
              <p class="appointment"><%= appointment.subject %></p>
              <p class="appt_detail"><% appointment.description %></p>
            </div>

            <div class="span4 feed_nav">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-large custom" data-target="map_<%=index%>" href="#"><i class="icon-map-marker icon-2x"></i></a>
                  <a class="btn btn-large custom" data-target="info_<%=index%>" href="#"><i class="icon-info-sign icon-2x"></i></a>
                </div>
              </div>

              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-large custom phone" data-target="more_<%=index%>" href="#"><i class="icon-phone icon-2x"></i></a>
                  <a class="btn btn-large custom" data-target="alert_<%=index%>" href="#"><i class="icon-bell-alt icon-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="map_<%=index%>" class="row-fluid pull-left span5">
          <%=index%>
        </div>
        <div id="info_<%=index%>" class="row-fluid pull-left span5">
          <%=index%>
        </div>
        <div id="alert_<%=index%>" class="row-fluid pull-left span5">
          <%=index%>
        </div>





      </div>
  <% end %>
    <br>
    <div class="row-fluid banner">Upcoming</div>
</div>


